/* 09_4_position.css */

*{ margin: 0; paddin: 0; }

.outer{
		width: 500px;
		height: 300px;   /*스크롤 생기게 하기 위해 해상도보다 큰 높이로*/
		border: 5px solid orange;
		margin: 50px;
		position: relative;			/* 브라우저가 아닌 outer 기준으로 위치 고정!! */
}

	.outer > div{
		width: 200px;
		height: 200px;
	}
	.outer > div.box1{
		background: pink;

		position: absolute;
		left: 0; top: 0;

		z-index: 10;			/* 레이어 순서 바꾸는 개념 */

		
	}
	.outer > div.box2{
		background: skyblue;
		position: absolute;
		right: 150px; top: 50px;

		z-index: 5;
	}
	.outer > div.box3{
		background: tomato;

		position: absolute;
		right: 0; bottom: 0; 

		z-index: 8;
	}