/* 10_3_float_3col */

*{ margin: 0; padding: 0; }

#wrap{
	width: 800px;
	margin: 0 auto; /*가운데 정렬*/
	border: 2px solid red;
}

	#side-a{
		width: 165px;
		background-color: skyblue;

		float: left;
	}

	#side-b{
		width: 140px;
		background-color: blue;
		
		float: right;
	}

	#contents{
		background-color: green;

		width: 485px;
		float: left;
		margin-left: 5px;
	
		/*
		margin-left: 170px;
		margin-right: 145px;
		*/
		
	}

	#footer{
		background-color: purple;

		clear: both;
		float: bottom;
	}