/* 10_4_float_3col_2.css */

*{ margin: 0; padding: 0; }

#wrap{
	width: 800px;
	margin: 0 auto;
	border: 2px solid red;
}
	.container{
		background: orange;

		overflow: hidden;		/*자식의 float 영향 받지 않게*/
	}
		.left{
			width: 655px;
			border: 2px solid yellow;

			float: left;			/*container 내에서 float:left*/
		}
			#side-a{
				width: 165px;
				background: skyblue;

				float: left;		/*left 내에서 float:left*/
			}
			#contents{
				width: 485px;
				background: green;
				
				float: right;		/*left 내에서 float:right*/
			}
		#side-b{
			width: 140px;
			background: blue;
			
			float: right;		/*container 내에서 float:right*/
		}
	#footer{
		background: purple;

		float: bottom;  /*container와 동일선상 bottom*/
	}

	/*
	#wrap
		.container
			.left
				#side-a
				#contents
			#side-b
		#footer
	*/