/* master.css */

/*The :hover selector is used to select elements when you mouse over them.*/

/*
눈누 - 나눔스퀘어 -> 웹폰트로 보기 링크 복사
<link rel="stylesheet" type="text/css" 
href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> 
.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }
*/

@import url(		 /*눈누 웹폰트로 사용하기 링크 복사해서 url 떼어옴*/
	"https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
)

/****************** COMMON *********************/
*{ margin: 0; padding: 0; }

html, body{
	font: 16px 'NanumSquare', sans-serif !important;   /*웹폰트로 사용하기 복사해서 내용 떼어옴*/
	color: #000;
}

h1, h2, h3, h4, h5, h6{
	font-size: 1.0em;  /*글자 크기 배수 -> 1.0배 그대로 쓰겠다*/
	font-weight: normal;
}

/* 이미지가 인라인 요소일 경우 있으므로 블럭레벨로 변경  */
img{
	display: block;
	border: none;
}

a{
	display: block;
	text-decoration: none;
	color: #000;
}


/***************** LAYOUT ********************/
body{ width: 100%; }
#wrap{ width : 100%; }

	#wrap > section{
		width: 100%;
	}
	#main_bean{		/*이미지의 높이 적어줌. 폭은 모두 100%*/
		height: 573px;			/*상위폴더->img폴더->이미지명*/
		background: url(../img/19_christmas1_coffee_bg_1.jpg) center;	/*이미지를 가운데로하여 양옆이 동일하게 잘리도록*/
	}
	#reserve{
		height: 400px;
		background: url(../img/19_christmas_main_res_bean.png) no-repeat right center #0f0f0f;  /*배경 어두운색으로 깔기*/
	}
	#favorite{
		height: 862px;
		background: url(../img/fav_prod_bg_new.jpg) center fixed;	/*배경이미지 고정시켜 입체적인 레이아웃. 모바일에선 적용불가*/
		background-size: cover;  /*이미지 크기가 작아 스크롤할때 이미지가 잘리므로 브라우저에 꽉찰 수 있도록*/
	}
	#store{
		height: 590px;
		background: url(../img/reserve_bg.jpg) center fixed;  /*배경이미지 고정*/
		background-size: cover;

		box-sizing: border-box;	 /*패딩으로 인해 늘어난것 커버*/
		padding-top: 132px;
	}

	/*배경으로 깔리는 이미지는 제일 마지막에 표기. 윗 레이어를 앞에 표기함
	  원두 이미지가 y축으로 위에 올라가있음 -> (-) ... x축 오른쪽(+), y축 아래쪽(+)  */
	#store_search{
		height:400px; 
		background: url(../img/store_exp_img03.png) no-repeat 50% -58px, url(../img/store_bg.jpg) 50% 50%;

	}

		#wrap > section > div{
			width: 1232px;
			margin-left: auto;
			margin-right: auto;

			overflow: hidden;  /* div범위 조정*/
			/*border: 2px solid red;*/
		}

		/*** 시즌 원두 ***/
		#main_bean .main_image{   /* (후손선택자) == #main_bean > div > .main_image (자손선택자) */
			float: left;
			width: 511px;
			margin-top: 73px;  /*윗공간 띄어주기*/
		} 

		#main_bean .text{
			float: right;
			width: 556px;
			margin-top: 177px;  /*윗공간 띄어주기*/
		}

			#main_bean .text_detail{
			}
				#main_bean .text_detail > h2{
					width: 556px; height: 63px;
					background: url(../img/19_christmas1_bean_ttl.png);
				}
				#main_bean .text_detail > p{
					margin-top: 25px;			 /*윗 텍스트와 떨어뜨리기*/

					width: 568px; height: 125px;
					background: url(../img/19_christmas1_bean_txt.png);

					margin-bottom: 19px;   /*자세히보기 버튼을 밑으로 띄우기. a 클래스에 하면 일괄적용이므로 p태그에 해준다*/
				}
			

				/******* 자세히보기 CLASS *******/
				a.more{
					width: 125px; height: 38px;
					box-sizing: border-box;		/*padding이나 border값이 width, height에 포함되도록 하는 속성*/
					border: 2px solid #000;
					border-radius: 3px;		/*끝단 둥글게 처리*/
					text-align: center;
					line-height: 34px;		/* 줄간격 */
					font-size: 14px; 
				}
		
		/*** 리저브 ***/
		#reserve .main_image{
			float: left;
			width: 95px;
			margin-right: 65px;
			margin-top: 143px;
		}
		#reserve .text{
			float: left;
			width: 380px;
			margin-top: 92px;
			
		}
			#reserve .text_detail{
				width:380px; height:171px;
				background: url(../img/19_christmas_reserve_txt1.png);
				margin-bottom: 30px;
			}

		#reserve .more{
			border-color: #fff;			/*자세히보기 보더와 글씨 흰색으로 바꾸어주기*/
			color: #fff;
		}

		/*** favorite ***/
		#favorite .main_image{
			float: right;
			width: 712px;
			margin-top: 98px;
			
		}
			#favorite .main_image > img{	/*이미지보다 큰 영역 잡았으므로 이미지도 그에맞게 변경*/
				width: 100%;
			}
		#favorite .text{
			float: left;
			width: 400px;
			margin-top: 118px;
		}
			#favorite .text_detail{
				width: 400px;
				overflow: hidden;
			}
				#favorite .text_detail > h2{
					float: right;
					width: 258px; height: 204px;
					background: url(../img/fav_prod_txt01.png);
					margin-bottom: 46px;
				}
				#favorite .text_detail > p{
					float: right;
					width: 362px; height: 156px;
					background: url(../img/fav_prod_txt02.png);
					margin-bottom: 44px;
					margin-right: 4px;
				}
			#favorite .more{
				float: right;
				border-color: #fff;		/*자세히보기 색상변경*/
				color: #fff;
			}


		/*** 리저브 매장 보기 ***/   /*구조가 조금 다름*/
		#wrap > #store > #store_logo{			/*오류가 나면 요소검사 후 선택자 모양을 비슷하게 적용 #wrap > section > div */
			width: 334px; height: 334px;
			/*margin-top: 132px;*/			/*margin-top 오류나면 store부분(더 큰 영역)에 padding-top으로 적용*/
			margin-left: auto;
			margin-right: auto;

			position: relative; /* 자리 겹치기 위한 position 기준 - height 설정되어있어야 */
			/*border: 2px solid yellow;*/
		}

			#store_logo > .front,
			#store_logo > .back{
				height: 334px;  /*포지션 기준이 되기 위해 높이 필요*/
				position: absolute;
				left: 0; top: 0;
				/*opacity: 0.5;*/
				transition-duration: 0.3s;  /*모션을 부드럽게*/
				backface-visibility: hidden;  /*180도 돌아간 상태일때 (후면이 보일때는) 숨김*/ 
			}

			#store_logo > .front{
				transform: rotateY(0deg);   /*세로축(y축) 기준 회전*/
			}
			#store_logo:hover > .front{		/*hover 선택자 : 마우스 오버로 선택할 때*/
											/*The :hover selector is used to select elements when you mouse over them.*/
				transform: rotateY(180deg);		/* 마우스 올리면 y축으로 180도 회전 */
			}
			#store_logo > .back{ /*float으로 자리고정 시켜놨으므로 영역밖으로 밀려나서 보이지 않음. front와 자리 겹치기위해 position사용*/
				transform: rotateY(180deg);   /*세로축(y축) 기준 회전*/
											  /* 마우스 올려놓지 않았을때 (디폴트로) 후면 보이도록 */
			}
			#store_logo:hover > .back{		  /* 마우스 올리면 y축으로 180도 회전하여 앞면이 보이도록 */
				transform: rotateY(360deg);
			}
				#store_logo > .back > .more{
					position: absolute;
					left: 103px; top: 247px;
				}

		/*** 매장 찾기 ***/
		#store_search > div{
			height: 400px;  /*배경 이미지와 div 높이 맞추기*/
			background: url(../img/store_exp_img02.png) no-repeat, url(../img/store_exp_img04.png) no-repeat;
			background-position: 103px 0, 963px 298px;
		}
			#store_search .main_image{
				float: left;
				width: 228px;
				margin-top: 142px;
				margin-left: 332px;
				margin-bottom: 14px;
			}
			#store_search .text{
				float: right;
				width: 385px;
				margin-top: 100px;
				margin-right: 159px;
				margin-bottom: 29px;
			}
				#store_search .text_detail{
				}
					#store_search .text_detail > h2{
						width: 385px; height: 54px;
						background: url(../img/store_txt01.png);
					}
					#store_search .text_detail > p{
						width: 366px; height: 61px;
						background: url(../img/store_txt02.png);

					}
			#store_search .more{		/* id : "#"으로 접근. class : "." 으로 직접접근. 아이디 없는 태그(p,h2 '>' 로 접근)*/
				margin-left: 7px;
			}


/********************* CLASS STYLE ************************/
.text_detail > h2,
.text_detail > p{
	text-indent: -6000px;  /*영역은 그대로 두되, 글자만 왼쪽으로 이동해 이미지만보이게! display:none 하면 이미지파일도 사라질수있음*/
	overflow: hidden;		/*영역 밖 벗어난 글자 숨김*/
	/*background-color: pink;*/
}